UnfinishedMilestone5Code/MinesweeperProjectCLC247/MinesweeperProjectCLC247/Connected Services/GameAPI/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCellModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CellModel" nillable="true" type="tns:CellModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCellModel" nillable="true" type="tns:ArrayOfCellModel" />
  <xs:complexType name="CellModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="ImageLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsClicked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVisited" type="xs:boolean" />
      <xs:element minOccurs="0" name="LiveNeighbors" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CellModel" nillable="true" type="tns:CellModel" />
</xs:schema>