UnfinishedMilestone5Code/MinesweeperProjectCLC247/MinesweeperProjectCLC247/Connected Services/GameAPI/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58040/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" />
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" minOccurs="0" name="Cells" nillable="true" type="q1:ArrayOfCellModel" />
      <xs:element minOccurs="0" name="Clicks" type="xs:int" />
      <xs:element minOccurs="0" name="SizeX" type="xs:int" />
      <xs:element minOccurs="0" name="SizeY" type="xs:int" />
      <xs:element minOccurs="0" name="timer" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>