MinesweeperProjectCLC247/MinesweeperProjectCLC247/Connected Services/GameService/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServiceAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServiceAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59808/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" />
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfPublishedGame" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
</xs:schema>