MinesweeperProjectCLC247/MinesweeperProjectCLC247/Connected Services/GameService/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinesweeperProjectCLC247.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPublishedGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublishedGame" nillable="true" type="tns:PublishedGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublishedGame" nillable="true" type="tns:ArrayOfPublishedGame" />
  <xs:complexType name="PublishedGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clicks" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublishedGame" nillable="true" type="tns:PublishedGame" />
</xs:schema>